<!doctype html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.bootcss.com/twitter-bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="{% static 'login/css/register.css' %}" rel="stylesheet"/>
    <title>reset</title>
  </head>
  <body>
    <div class="container">
            <div class="col">
                <form class="form-register" action="/app01/reset_password/" method="post">

                    {% if message %}
                        {% if message == '密码修改成功，2秒后返回登陆页面' %}
                            <div class="alert alert-success text-center">{{ message }}</div>
                        {% else %}
                            <div class="alert alert-danger text-center">{{ message }}</div>
                        {% endif %}
                    {% elif register_form.captcha.errors %}
                        <div class="alert alert-danger">{{ register_form.captcha.errors }}</div>
                    {% endif %}

                  {% csrf_token %}
                  <h3 class="text-center">重置密码</h3>

                  <div class="form-group">
                      {{ reset_form.username.label_tag }}
                      {{ reset_form.username}}
                  </div>
                  <div class="form-group">
                      {{ reset_form.password1.label_tag }}
                      {{ reset_form.password1 }}
                  </div>
                  <div class="form-group">
                      {{ reset_form.password2.label_tag }}
                      {{ reset_form.password2 }}
                  </div>
                  <div class="form-group">
                      {{ reset_form.captcha.label_tag }}
                      {{ reset_form.captcha }}
                  </div>

                  <div>
                      <a href="/app01/login/"><ins>返回登录</ins></a>
                      <button type="submit" class="btn btn-primary float-right">确定重置</button>
                  </div>
                </form>
            </div>
    </div>

    {#    以下三者的引用顺序是固定的#}
    <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.js"></script>
    <script src="https://cdn.bootcss.com/popper.js/1.15.0/umd/popper.js"></script>
    <script src="https://cdn.bootcss.com/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script>
     //点击刷新验证码
    $(function () {
        $('.captcha').css({
            'cursor': 'pointer'
        });
        // ajax刷新
        $('.captcha').click(function () {
            console.log('click');
            $.get("{% url 'captcha-refresh' %}",
                function (result) {
                    $('.captcha').attr('src', result['image_url']);
                    $('#id_captcha_0').val(result['key'])
                });
        });
    })
    // 密码修改成功则跳转至登陆页面
        // 使用Django模板标签将message的值传递给JavaScript变量
        var message = "{{ message|escapejs }}";

        // 判断message的值，如果是'修改密码成功'，则设置跳转
        if (message === '密码修改成功，2秒后返回登陆页面') {
            window.setTimeout(function() {
                window.location.href = '/app01/login/';
            }, 2000);
        }
    </script>
  </body>
</html>